<?xml version="1.0"?>
<robot name="blackhawk">

  <link name="base_link">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://swarm_description/meshes/Blackhawk_resized.dae"/>
      </geometry>
    </visual>

    <!-- TODO: add inertial & collision -->
  </link>

  <!-- TODO: Plugin to simulate driving motion -->

  <joint name="base_link_to_left_wheel" type="fixed">
    <child link="left_wheel" />
    <parent link="base_link" />
  </joint>

  <link name="left_wheel">
    <visual>
      <origin rpy="0.0 0 0" xyz="0 0 0"/>
      <geometry>
      </geometry>
    </visual>
  </link>

</robot>
