<launch>
		
	<node pkg="swarm_simulation" type="main" name="Simulation" output="screen"/>
	
	<!-- Launching hawk sim node -->
	<node pkg="swarm_simulation"  type="hawk_sim_execute" name="hawk_simulation" output="screen"/>
	
	<!-- TODO launch ALICE nodes -->
	<node pkg="alice_swarm" type="AbsToRel" name="hub" output="screen"/>
 	<node pkg="alice_swarm" type="AliceMain" name="alice" output="screen"/>
 	<node pkg="alice_swarm" type="InterHub" name="inter_hub" output="screen"/>

	<node pkg="visualization"  type="alice_pov_main" name="map_debug" output="screen"/>
	<node pkg="contour_node" type="mapping" name="contour_map" output="screen"/>
	
	
</launch>
