<launch>
		
	<node pkg="swarm_simulation" type="main" name="Simulation" output="screen"/>
		
	<!-- Launching virtual obstacle node -->
	<node pkg="swarm_simulation"  type="virtual_objects" name="virtual_objects" output="screen"/>
		
	
	
	<!-- TODO launch ALICE nodes -->
	<node pkg="alice_swarm" type="AbsToRel" name="hub" output="screen">
 	<!--<node pkg="alice_swarm" type="AliceMain" name="alice" output="screen">	-->						
	</node>

	<node pkg="visualization"  type="alice_pov_main" name="map_debug" output="screen"/>
	<node pkg="contour_node" type="mapping" name="contour_map" output="screen"/>
	
	<node pkg="alice_swarm" type="AliceMain" name="alice" output="screen">							
	</node>
	
</launch>
