<launch>

	<node pkg="contour_node" type="mapping" name="map" output="screen"/>

	<node pkg="visualization" type="table_vis" name="table"
		output="screen">

		<!-- Location of assets and config files respectively -->
		<param name="asset_path"
			value="/home/the_pun_king/git/reu-swarm-ros/swarm_ws/src/visualization/assets"
			type="str" />
		<param name="config_path"
			value="/home/the_pun_king/git/reu-swarm-ros/swarm_ws/src/visualization/cfg/calib.config"
			type="str" />

		<!-- Background - setting to "None" will not draw a background - setting 
			to "Contour" will draw a contour map - setting to a file path will draw the 
			image in the path -->
		<param name="background" value="/home/the_pun_king/git/reu-swarm-ros/swarm_ws/src/visualization/assets/HockeyRink.png" type="str" />
		
	</node>

</launch>
