<launch>
		
	<node pkg="swarm_simulation" type="main" name="Simulation" output="screen"/>
		
	<!-- Launching virtual obstacle node -->
	<node pkg="swarm_simulation"  type="virtual_obstacle" name="virtual_obstacle" output="screen"/>
		
	
	
	<!-- TODO launch ALICE nodes -->
 	<node pkg="alice_swarm" type="AliceMain" name="alice" output="screen">							
	</node>

	
</launch>
