<launch>

	<!--
		This is a preliminary test to observe the behavior
		of ALIC++ when coupled with VICON data.
	-->

	
	<!-- Launching vicon bridge node -->
	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.10.1:801" type="str" />
		<param name="tf_ref_frame_id" value="/world" type="str" />
	
		<!-- Don't publish individual points or transforms -->
		<param name="publish_markers" value="false" type="bool" />
		<param name="publish_transform" value="false" type="bool" />

		<param name="swarmbot_prefix" value="swarmbot_" type="str" />
	</node>
	
	
	<!-- Launching hawk sim node -->
	<node pkg="swarm_simulation"  type="hawk_sim_execute" name="hawk_simulation" output="screen"/>
		
	
	<!-- TODO launch ALICE nodes -->
	<node pkg="alice_swarm" type="AbsToRel" name="hub" output="screen"/>
 	<node pkg="alice_swarm" type="AliceMain" name="alice" output="screen"/>
 	<node pkg="alice_swarm" type="InterHub" name="inter_hub" output="screen"/>

	<node pkg="visualization"  type="alice_pov_main" name="map_debug" output="screen"/>
	<node pkg="contour_node" type="mapping" name="contour_map" output="screen">
            <param name="use_keyboard" value="true" type="bool"/>
        </node>
	
	<!-- Launching server node -->
	<node pkg="swarm_server" name="ard_serv" type="ros_to_arduino_server" output="screen"/>

        <node pkg="visualization" type="table_vis" name="table"
		output="screen">

		<param name="use_keyboard" value="true" type="bool"/>

                <param name="draw_level" value="1" type="int"/>

		<!-- Location of assets and config files respectively -->
		<param name="asset_path"
			value="/home/air/reu-swarm-ros/swarm_ws/src/visualization/assets"
			type="str" />
		<param name="config_path"
			value="/home/air/reu-swarm-ros/swarm_ws/src/visualization/cfg/calib.config"
			type="str" />

		<!-- Background - setting to "None" will not draw a background - setting 
			to "Contour" will draw a contour map - setting to a file path will draw the 
			image in the path -->
		<param name="background" value="Contour" type="str" />
		
		<param name="num_levels" value="9" type="int"/>
		<param name="range_top" value="20.0" type="double"/>
		<param name="range_bottom" value="-20.0" type="double"/>
		
		<rosparam param="color_levels">[-20, -16, -12,  -8,  -4,    0,   4,   8,  12,  16,  20]</rosparam>
		<rosparam param="color_reds"  >[  0,   0,   0, 127, 127,  255, 255, 255,   0,   0,   0]</rosparam>
		<rosparam param="color_greens">[  0, 127, 127, 127,   0,  255,   0, 255, 255, 255,   0]</rosparam>
		<rosparam param="color_blues" >[127, 127,   0,   0,   0,  255,   0,   0,   0, 255, 255]</rosparam>
		
	</node>
	
</launch>
